:root {
  --clr-neutral-100: #f1f1f1;
  --clr-neutral-200: #e7e7de;
  --clr-neutral-700: #323232;
  --clr-neutral-800: #212529;
  --clr-neutral-900: #000000;

  --clr-maroon-600: #810f01;
  --clr-mustard-600: #fed049;

  --clr-petrol-200: #1fad9f;
  --clr-petrol-600: #00587a;
  --clr-petrol-800: #025955;

  --clr-hunterGreen-600: #065446;

  /* --ff-primary: "Roboto", sans-serif; */
  --ff-primary: "Voces", sans-serif;
  --ff-accent: "Calistoga", cursive;

  /* 
 --ff-primary: "Montserrat", sans-serif;
  --ff-primary: "Open Sans", sans-serif;
  --ff-primary: "Raleway", sans-serif;
  */
}

body {
  background: var(--clr-neutral-800);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

hr {
  color: var(--clr-neutral-100);
}
h1 {
  color: var(--clr-neutral-200);
  font-family: var(--ff-accent);
  font-size: 100px;
  font-weight: lighter;
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: none;
}
h2 {
  color: #f1f1f1;
  font-family: "Roboto";
  text-align: center;
}

.sectionHeader {
  color: #f1f1f1;
  font-family: var(--ff-primary);
  font-size: 2em;
  padding: 2em;
  text-decoration: underline;
}

@media (min-width: 600px) {
  .sectionHeader {
    font-size: 2.5em;
  }
}

h6 {
  color: whitesmoke;
  text-align: center;
}

h3 {
  text-align: center;
}
a {
  color: #f1f1f1;
  font-size: 20px;
  text-decoration: none;
}
a:hover {
  color: #f6c667;
  font-size: 30px;
  transition: ease-in-out 150ms;
}

iframe {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  border: solid 2px black;
}

iframe:hover {
  box-shadow: 10px 10px black;
}

p {
  color: #d8ebe4;
}

/*HEADER banner*/

.header {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 100%;
}

.headerGraphic {
  color: #f1f1f1;
  font-family: var(--ff-accent);
  font-size: 4em;
  font-weight: lighter;
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none;
}

.brainIcon {
  color: var(--clr-mustard-600);
}

.plusIcon {
  color: var(--clr-petrol-200);
}

.heartIcon {
  color: var(--clr-maroon-600);
}
.headerSkills {
  color: var(--clr-neutral-100);
  font-family: "Roboto";
  font-size: 2em;
  margin-top: 0;
  text-align: center;
  text-decoration: none;
}

.headerName {
  color: var(--clr-petrol-200);
  font-size: 2em;
}

@media (min-width: 600px) {
  .headerGraphic {
    font-size: 10em;
  }
  .headerSkills {
    font-size: 3em;
  }

  .headerName {
    font-size: 6em;
  }
}

.aboutMeText {
  color: var(--clr-neutral-200);
}

.acrossLi {
  display: block;
  color: white;
  margin: 0 auto;
  padding: 35px;
}

.card-img-top {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.card-title {
  text-align: center;
}

.contacts {
  text-decoration: none;
}

.contactImage {
  display: block;
  margin: 0 auto;
  width: 350px;
}

.copyright {
  padding-top: 2rem;
}
.sections {
  color: #f1f1f1;
  text-align: center;
}
.job-item {
  padding: 10px;
}
.jobTitle {
  color: #f1f1f1;
  font-size: 20px;
  list-style: none;
  padding: 2px;
}
.jobTitle:hover {
  color: #f6c667;
  font-size: 50px;
  cursor: pointer;
  list-style: none;
}

.jobLocation {
  color: #f1f1f1;
  list-style: none;
  margin-left: 10px;
}
.jobDates {
  color: #f1f1f1;
  font-family: "Roboto";
  list-style: none;
  margin-left: 10px;
}
.jobDetails {
  color: #f1f1f1;
  font-family: "Roboto";
  font-size: 15px;
  list-style: none;
  margin-left: 15px;
}

.navbar {
  font-family: "Voces";
}

/*PORTFOLIO*/

.portfolioCard {
  border-radius: 20px;
}

.portfolioCard:hover {
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transform: scale(1.05);
}

.card-title {
  color: whitesmoke;
  text-align: center;
}

.portfolioIMG {
  border-radius: 20px;
}

.portfolioLinks {
  font-size: 0.8em;
}

.portfolioCard-text {
  color: whitesmoke;
  font-family: var(--ff-primary);
  font-size: 0.8em;
  text-align: center;
}

.submitButton {
  font-size: smaller;
}

footer {
  margin-top: 100px;
  text-align: center;
}

.footerLink {
  display: block;
  margin: 0 auto;
}

.yellow {
  color: var(--clr-mustard-600);
}

.yellow:hover {
  transform: rotate(360deg);
}

.turquoise {
  color: var(--clr-petrol-200);
}

.maroon {
  color: var(--clr-maroon-600);
}
